PORT=3000

# Database
DB_HOST=XXXXXXXXXXXXXXXXXXXX
DB_PORT=XXXXXXXXXXXXXXXXXXXX
DB_NAME=XXXXXXXXXXXXXXXXXXXX
DB_USER=XXXXXXXXXXXXXXXXXXXX
DB_PASSWORD=XXXXXXXXXXXXXXXX

# Supabase
SUPABASE_URL=XXXXXXXXXXXXXXX
SUPABASE_SECRET_KEY=XXXXXXXX